@charset "UTF-8";
*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(../imgs/Group33_1.png);
  background-size: cover;
  line-height: 1.5;
  font-family: "Noto Sans TC";
  text-transform: uppercase;
  font-size: 16px;
  color: #fff;
  width: 100%;
}

a {
  text-decoration: none;
  color: #fff;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 72px 0 72px;
  width: 100%;
  position: relative;
}

.logo {
  padding: 8px 0 8px;
}

.logo a {
  font-size: 28px;
  display: block;
  padding: 0 0 0 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

nav li {
  display: flex;
  align-items: center;
  list-style: none;
  cursor: pointer;
}

nav li a {
  padding: 35px 10px 35px 35px;
}

nav li a:hover {
  font-weight: 700;
}

nav li ul {
  display: none;
}

nav li:hover ul {
  display: inline;
  justify-content: center;
}

nav li li {
  float: none;
}

nav img {
  transition-duration: 0.2s;
}

.imgflip {
  transform: rotateX(180deg);
}

.navButton {
  display: flex;
  width: 150px;
}
.navButton img {
  width: 20px;
  height: 20px;
}
@media (max-width: 1024px) {
  .navButton {
    width: 135px;
  }
}

@media only screen and (max-width: 1170px) {
  nav > ul > li > a {
    padding: 35px 15px;
  }
}
@media only screen and (max-width: 959px) {
  nav {
    display: none;
    width: 100%;
    clear: both;
    float: none;
    max-height: 400px;
    overflow-y: scroll;
  }
  nav {
    padding: 10px;
  }
  nav ul {
    float: none;
  }
  nav li {
    float: none;
  }
  nav ul li a {
    float: none;
    padding: 8px;
    display: block;
  }
  #header nav ul ul {
    display: block;
    position: static;
    background: none;
    border: none;
    padding: 0;
  }
  #header nav a {
    color: #fff;
    padding: 8px;
  }
  #header nav a:hover {
    font-weight: 500;
  }
  #header nav ul li li a:before {
    content: "- ";
  }
}
.dropdown {
  width: 100%;
  height: 60px;
  background-color: #fff;
  color: #6b6b6b;
  position: absolute;
  top: 100%;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.dropdown a {
  color: #6b6b6b;
  padding: 0 50px;
}

.dropdown a:hover {
  font-weight: 700;
}

.dropdownDeco {
  width: 2px;
  height: 1em;
  background-color: #6b6b6b;
}

.ddHide {
  display: none;
}

.pageDrop {
  position: relative;
  top: 60px;
}

#toTop {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 5;
  background-image: url(/imgs/upArrowFill.png);
  background-size: contain;
  border: none;
  background-color: transparent;
}
#toTop:hover {
  transform: scale(1.1);
}
@media (max-width: 768px) {
  #toTop {
    width: 40px;
    height: 40px;
    right: 10px;
  }
}
@media (max-width: 425px) {
  #toTop {
    width: 30px;
    height: 30px;
    right: 5px;
  }
}

.introduce {
  background-image: url(../imgs/121708_2.jpg);
  background-size: cover;
  width: auto;
}

.introduce-item {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 56px 0 27px 0;
}
.introduce-item img {
  width: 145px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 4%;
}
.introduce-item a img {
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 0px;
}

@media (max-width: 768px) {
  .introduce-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 55px 0 20px 0;
  }
  .introduce-item img {
    width: 148px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 4%;
  }
  .introduce-item a img {
    width: 145px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 0px;
  }
}
@media (max-width: 425px) {
  .introduce-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 48px 0 20px 0;
  }
  .introduce-item img {
    width: 80px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 4%;
  }
  .introduce-item a img {
    width: 80px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 0px;
  }
}
@media (max-width: 375px) {
  .introduce-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 48px 0 20px 0;
  }
  .introduce-item img {
    width: 70px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 4%;
  }
  .introduce-item a img {
    width: 70px;
    -o-object-fit: contain;
       object-fit: contain;
    margin-left: 0px;
  }
}
.box {
  display: flex;
  justify-content: center;
  width: auto;
  height: 60px;
}

@media (max-width: 425px) {
  .box {
    display: flex;
    justify-content: center;
    width: auto;
    height: 30px;
  }
}
@media (max-width: 375px) {
  .box {
    display: flex;
    justify-content: center;
    width: auto;
    height: 30px;
  }
}
.decoline {
  width: 40%;
  height: 10px;
  background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
  background-size: 30px 5px;
  background-repeat: repeat-x;
}
@media (max-width: 425px) {
  .decoline {
    width: 40%;
    height: 6px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 20px 3px;
    background-repeat: repeat-x;
  }
}
@media (max-width: 375px) {
  .decoline {
    width: 40%;
    height: 5px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 18px 3px;
    background-repeat: repeat-x;
  }
}

.decoline_4 {
  width: 80%;
  height: 10px;
  background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
  background-size: 30px 5px;
  background-repeat: repeat-x;
  margin: 20px;
}
@media (max-width: 425px) {
  .decoline_4 {
    width: 80%;
    height: 6px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 20px 3px;
    background-repeat: repeat-x;
  }
}
@media (max-width: 375px) {
  .decoline_4 {
    width: 80%;
    height: 5px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 18px 3px;
    background-repeat: repeat-x;
  }
}

.introduce-imgs-flex {
  display: flex;
  justify-content: center;
  width: auto;
}

.introduce-imgs {
  width: 740px;
  height: 345px;
  background-image: url(../imgs/wbg_word_1.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .introduce-imgs {
    width: 630px;
    height: 290px;
    background-image: url(../imgs/wbg_word_1.png);
    background-size: cover;
  }
}
@media (max-width: 576px) {
  .introduce-imgs {
    width: 473px;
    height: 217.7px;
    background-image: url(../imgs/wbg_word_1.png);
    background-size: cover;
  }
}
@media (max-width: 425px) {
  .introduce-imgs {
    width: 306px;
    height: 141px;
    background-image: url(../imgs/wbg_word_1.png);
    background-size: cover;
  }
}
@media (max-width: 375px) {
  .introduce-imgs {
    width: 306px;
    height: 141px;
    background-image: url(../imgs/wbg_word_1.png);
    background-size: cover;
  }
}
.introduce-btn-flex {
  display: flex;
  justify-content: center;
  width: auto;
  padding: 66px 0 61px 0;
}
.introduce-btn-flex .viewmore {
  width: 128px;
  height: 51px;
  background-image: url(../imgs/資產6.png);
  background-size: cover;
}

@media (max-width: 768px) {
  .introduce-btn-flex {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 60px 0 67px 0;
  }
  .introduce-btn-flex .viewmore {
    width: 114px;
    height: 45px;
    background-image: url(../imgs/資產6.png);
    background-size: cover;
  }
}
@media (max-width: 425px) {
  .introduce-btn-flex {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 66px 0 61px 0;
  }
  .introduce-btn-flex .viewmore {
    width: 55px;
    height: 22px;
    background-image: url(../imgs/資產6.png);
    background-size: cover;
  }
}
@media (max-width: 375px) {
  .introduce-btn-flex {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 37px 0 40px 0;
  }
  .introduce-btn-flex .viewmore {
    width: 55px;
    height: 22px;
    background-image: url(../imgs/資產6.png);
    background-size: cover;
  }
}
.box_2 {
  display: flex;
  justify-content: center;
  width: auto;
}

@media (max-width: 768px) {
  .box_2 {
    display: flex;
    justify-content: center;
    width: auto;
  }
}
@media (max-width: 425px) {
  .box_2 {
    display: flex;
    justify-content: center;
    width: auto;
  }
}
@media (max-width: 375px) {
  .box_2 {
    display: flex;
    justify-content: center;
    width: auto;
  }
}
.yt-flex {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.yt {
  position: absolute;
  top: 10%;
  left: 8%;
  width: 84%;
  height: 84%;
}
@media (max-width: 1024px) {
  .yt {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
  }
}

.title-flex {
  display: flex;
  justify-content: center;
  width: auto;
  margin-top: 30px;
}
.title-flex img {
  width: 283px;
  height: 55px;
}

@media (max-width: 768px) {
  .title-flex {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 20px;
  }
  .title-flex img {
    width: 283px;
    height: 55px;
  }
}
@media (max-width: 425px) {
  .title-flex {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 10px;
  }
  .title-flex img {
    width: 115px;
    height: 23px;
  }
}
@media (max-width: 375px) {
  .title-flex {
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 10px;
  }
  .title-flex img {
    width: 115px;
    height: 23px;
  }
}
.box_3 {
  display: flex;
  justify-content: center;
  width: auto;
  height: 33px;
}

@media (max-width: 768px) {
  .box_3 {
    display: flex;
    justify-content: center;
    width: auto;
    height: 33px;
  }
}
@media (max-width: 425px) {
  .box_3 {
    display: flex;
    justify-content: center;
    width: auto;
    height: 27px;
  }
}
@media (max-width: 375px) {
  .box_3 {
    display: flex;
    justify-content: center;
    width: auto;
    height: 27px;
  }
}
.decoline_3 {
  width: 25%;
  height: 10px;
  background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
  background-size: 30px 5px;
  background-repeat: repeat-x;
}

@media (max-width: 768px) {
  .decoline_3 {
    width: 30%;
    height: 6px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 20px 3px;
    background-repeat: repeat-x;
  }
}
@media (max-width: 425px) {
  .decoline_3 {
    width: 25%;
    height: 6px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 20px 3px;
    background-repeat: repeat-x;
  }
}
@media (max-width: 375px) {
  .decoline_3 {
    width: 25%;
    height: 5px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 18px 3px;
    background-repeat: repeat-x;
  }
}
.new_product {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}
.new_product .new_product_size-1 {
  width: 42%;
  display: flex;
  justify-content: end;
  margin: 0 1% 1% 0;
}
@media (min-width: 1025px) {
  .new_product .new_product_size-1 {
    width: 34%;
    display: flex;
    justify-content: end;
  }
}
.new_product .new_product_size-1 img {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-width: 392px;
}
@media (min-width: 1920px) {
  .new_product .new_product_size-1 {
    width: 34%;
    display: flex;
    justify-content: end;
  }
}
.new_product .new_product_size-1 img {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-width: 392px;
}
.new_product .new_product_size-2 {
  width: 42%;
  display: flex;
  justify-content: start;
  margin: 0 1% 1% 0;
}
@media (min-width: 1025px) {
  .new_product .new_product_size-2 {
    width: 34%;
    display: flex;
    justify-content: start;
  }
}
.new_product .new_product_size-2 img {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-width: 392px;
}
@media (min-width: 1920px) {
  .new_product .new_product_size-2 {
    width: 34%;
    display: flex;
    justify-content: start;
  }
}
.new_product .new_product_size-2 img {
  width: 100%;
  height: 100%;
  max-width: 428px;
  max-width: 392px;
}
.new_product .new_product_size-3 {
  width: 24%;
  display: flex;
  justify-content: center;
  margin: 0 1% 1% 0;
}
.new_product .new_product_size-3 img {
  width: 100%;
  height: 100%;
  max-width: 143px;
  max-width: 143px;
}

.block {
  width: auto;
  height: 60px;
}
@media (max-width: 576px) {
  .block {
    width: auto;
    height: 30px;
  }
}

.footerIn {
  background-color: rgba(15, 15, 15, 0.3);
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .footerIn {
    background-color: rgba(15, 15, 15, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.footerIn-left {
  padding-bottom: 60px;
  margin: 0 30px 0 0;
}
@media (max-width: 576px) {
  .footerIn-left {
    margin: 0;
    padding-bottom: 0;
  }
}
.footerIn-left .logo {
  display: flex;
  justify-content: center;
  padding: 90px 0 30px 0;
}
.footerIn-left .logo a {
  padding: 0;
}
.footerIn-left .footerIn-left-text {
  display: flex;
  justify-content: center;
  font-size: 14px;
}
.footerIn-left .footerIn-left-icon a {
  padding: 0 0 0 20px;
}
.footerIn-left .footerIn-left-icon a img {
  width: 20px;
  height: 20px;
}
@media (max-width: 576px) {
  .footerIn-left .footerIn-left-icon {
    display: flex;
    justify-content: center;
  }
  .footerIn-left .footerIn-left-icon a {
    padding: 0 7.5px 0 7.5px;
  }
  .footerIn-left .footerIn-left-icon a img {
    width: 20px;
    height: 20px;
  }
}

.footerIn-right-flex {
  display: flex;
  justify-content: center;
}
@media (max-width: 576px) {
  .footerIn-right-flex {
    display: flex;
    justify-content: center;
    padding: 0 15px;
    margin-bottom: 30px;
  }
}

.footerIn-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
@media (max-width: 576px) {
  .footerIn-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
}
.footerIn-right ul {
  margin: 0;
}
@media (max-width: 576px) {
  .footerIn-right ul {
    margin: 0;
    padding: 0 20px;
  }
}
@media (max-width: 425px) {
  .footerIn-right ul {
    margin: 0;
    padding: 0;
  }
}
.footerIn-right ul li {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 10px 0;
  font-size: 16px;
}
@media (max-width: 768px) {
  .footerIn-right ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 6px 0;
    font-size: 12px;
  }
}
@media (max-width: 576px) {
  .footerIn-right ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 6px 0;
    font-size: 10px;
  }
}
@media (max-width: 425px) {
  .footerIn-right ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 6px 0;
    font-size: 10px;
  }
}
@media (max-width: 375px) {
  .footerIn-right ul li {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 6px 0;
    font-size: 10px;
  }
}

.copyrite {
  display: flex;
  justify-content: center;
  font-family: ‘微軟正黑體’, sans-serif;
}
.copyrite p {
  font-size: 12px;
  margin: 20px 0;
}
@media (max-width: 428px) {
  .copyrite p {
    font-size: 9px;
    margin: 10px 0;
  }
}
@media (max-width: 428px) {
  .copyrite {
    font-size: 9px;
    margin: 10px 0;
  }
}

.contact-flex {
  width: 100%;
  padding: 0 28%;
}
@media (max-width: 1024px) {
  .contact-flex {
    width: 100%;
    padding: 0 20%;
  }
}
@media (max-width: 768px) {
  .contact-flex {
    width: 100%;
    padding: 0 12%;
  }
}
@media (max-width: 425px) {
  .contact-flex {
    width: 100%;
    padding: 0 10%;
  }
}

.contact-title {
  text-align: center;
  font-family: ‘微軟正黑體’, sans-serif;
  font-size: 20px;
  color: #626262;
  font-weight: 700;
  letter-spacing: 0.2em;
  padding: 30px 0;
}
@media (max-width: 768px) {
  .contact-title {
    letter-spacing: 0.1em;
    font-size: 16px;
    padding: 20px 0;
  }
}
@media (max-width: 425px) {
  .contact-title {
    letter-spacing: 0.1em;
    font-size: 14px;
    padding: 12px 0;
  }
}

.contact-image-1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}
.contact-image-1 img {
  width: 100%;
  height: 100%;
  max-width: 864px;
  max-height: 517px;
}

.contact-text {
  text-align: center;
  font-family: ‘微軟正黑體’, sans-serif;
  color: #626262;
  font-weight: 700;
  line-height: 1.8;
}
.contact-text p {
  font-size: 16px;
  margin: 50px 0;
}
@media (max-width: 1024px) {
  .contact-text {
    text-align: center;
    font-family: ‘微軟正黑體’, sans-serif;
    color: #626262;
    font-weight: 700;
  }
  .contact-text p {
    font-size: 14px;
    margin: 30px 0;
  }
}
@media (max-width: 768px) {
  .contact-text {
    text-align: center;
    font-family: ‘微軟正黑體’, sans-serif;
    color: #626262;
    font-weight: 700;
  }
  .contact-text p {
    font-size: 14px;
    margin: 30px 0;
  }
}
@media (max-width: 425px) {
  .contact-text {
    text-align: center;
    font-family: ‘微軟正黑體’, sans-serif;
    color: #626262;
    font-weight: 700;
  }
  .contact-text p {
    font-size: 12px;
    margin: 25px 0;
  }
}
@media (max-width: 375px) {
  .contact-text {
    text-align: center;
    font-family: ‘微軟正黑體’, sans-serif;
    color: #626262;
    font-weight: 700;
  }
  .contact-text p {
    font-size: 12px;
    margin: 20px 0;
  }
}

.contact-logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  padding: 12% 4% 6% 4%;
}
.contact-logo img {
  width: 100%;
  height: 100%;
}

.catalog {
  display: flex;
  justify-content: center;
  color: #626262;
}
.catalog div {
  padding: 4% 1% 2% 1%;
}
@media (max-width: 425px) {
  .catalog div {
    padding: 3% 1% 2% 1%;
  }
}
.catalog a {
  color: #626262;
  font-weight: 600;
  padding: 4% 2% 2% 2%;
}
@media (max-width: 1024px) {
  .catalog a {
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .catalog a {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .catalog a {
    font-size: 9px;
    padding: 4% 0 2% 0;
  }
}
.catalog .catalog-text-padding {
  padding: 4% 0 2% 0;
}

.product-amount {
  display: flex;
  justify-content: end;
  align-items: flex-end;
  font-family: ‘微軟正黑體’, sans-serif;
  color: #626262;
  font-size: 12px;
  padding: 0 1%;
}
@media (max-width: 425px) {
  .product-amount {
    font-size: 10px;
  }
}

.product-flex {
  width: 100%;
  padding: 0 10%;
}
@media (max-width: 1024px) {
  .product-flex {
    width: 100%;
    padding: 0 8%;
  }
}
@media (max-width: 768px) {
  .product-flex {
    width: 100%;
    padding: 0 6%;
  }
}
@media (max-width: 425px) {
  .product-flex {
    width: 100%;
    padding: 0 4%;
  }
}

.product-all-flex {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  width: auto;
  padding: 2% 0;
}
.product-all-flex .product-single-flex {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 1%;
  font-family: ‘微軟正黑體’, sans-serif;
}
.product-all-flex .product-single-flex a {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #626262;
  text-align: center;
  padding: 1% 0;
}
.product-all-flex .product-single-flex a img {
  width: 100%;
  height: 100%;
}
.product-all-flex .product-single-flex p {
  color: #2A3B4B;
  font-weight: 600;
  margin: 2% 0;
}
@media (max-width: 1024px) {
  .product-all-flex .product-single-flex {
    width: 25%;
  }
  .product-all-flex .product-single-flex a {
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .product-all-flex .product-single-flex {
    width: 25%;
  }
  .product-all-flex .product-single-flex a {
    font-size: 14px;
  }
}
@media (max-width: 425px) {
  .product-all-flex .product-single-flex {
    width: 50%;
  }
  .product-all-flex .product-single-flex a {
    font-size: 10px;
  }
}/*# sourceMappingURL=style.css.map */