@import "../node_modules/bootstrap/scss/bootstrap";

*, *:before, *:after {-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0}
body {
    background-image: url(../imgs/Group\ 33\ \(1\).png);
    background-size: cover;
    line-height:1.5;
    font-family: 'Noto Sans TC';
    text-transform:uppercase;
    font-size:16px;
    color:#fff;
    
}
a {
    text-decoration:none;
    color:#fff;
}
#header {
    display: flex;
    justify-content: space-between;
    padding : 0 72px 0 72px;
    width:100%;
    position:relative;
}
.logo {
    padding:8px 0 8px;
}
.logo a {
    font-size:28px;
    display:block;
    padding:0 0 0 20px;
}
nav {
    display: flex;
    justify-content: space-between;
}
nav ul { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
nav li {
    display: flex;
    align-items: center;
    list-style:none;
}
nav li a {
    padding:35px 10px 35px 35px;
}
nav li a:hover {
    font-weight: 700;
}
.dropdown {
    width: auto;
    font-size: 1em;
    top: 100%;
}
nav li ul {
    display:none;
}
nav li:hover ul {
    display: inline;
    justify-content: center;
}
nav li li{
    float:none;
}

@media only screen and (max-width: 1170px) {
  nav >ul>li >a{padding:35px 15px}
}
@media only screen and (min-width: 960px) {
  nav{display:block!important}
}
@media only screen and (max-width: 959px) {
  nav{display:none;width:100%;clear:both;float:none;max-height:400px;overflow-y:scroll}
  nav{padding:10px}
  nav ul{float:none}
  nav li{float:none}
  nav ul li a{float:none;padding:8px;display:block}
  #header nav ul ul{display:block;position:static;background:none;border:none;padding:0}
  #header nav a{color:#fff;padding:8px}
  #header nav a:hover{font-weight: 500;}
  #header nav ul li li a:before{content:"- "}
}
.introduce {
    background-image: url(../imgs/121708_2.jpg);
    background-size: cover;
    width: auto;
}
.introduce-item {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 56px 0 27px 0;
    
    img {
        width: 145px;
        object-fit: contain;
        margin-left: 4%;
    }

    a {
        img {
            width: 150px;
            object-fit: contain;
            margin-left: 0px;
        }
    }
}    
    //pad
    @media(max-width: 768px) {
        .introduce-item {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 55px 0 20px 0;
            
            img {
                width: 148px;
                object-fit: contain;
                margin-left: 4%;
            }
        
            a {
                img {
                    width: 145px;
                    object-fit: contain;
                    margin-left: 0px;
                }
            }
    }

}
    //mobile-425px
    @media(max-width: 425px) {
        .introduce-item {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 48px 0 20px 0;
            
            img {
                width: 80px;
                object-fit: contain;
                margin-left: 4%;
            }
        
            a {
                img {
                    width: 80px;
                    object-fit: contain;
                    margin-left: 0px;
                }
            }
    }

}
    //mobile
    @media(max-width: 375px) {
        .introduce-item {
            display: flex;
            justify-content: center;
            align-items: flex-end;
            padding: 48px 0 20px 0;
            
            img {
                width: 70px;
                object-fit: contain;
                margin-left: 4%;
            }
        
            a {
                img {
                    width: 70px;
                    object-fit: contain;
                    margin-left: 0px;
                }
            }
    }

}
.box {
    display: flex;
    justify-content: center;
    width: auto;
    height: 60px;
}

    //mobile-425px
    @media(max-width: 425px) {
        .box {
            display: flex;
            justify-content: center;
            width: auto;
            height: 30px;
        }
    }
    //mobile
    @media(max-width: 375px) {
        .box {
            display: flex;
            justify-content: center;
            width: auto;
            height: 30px;
        }
    }

.decoline {
    width: 40%;
    height: 10px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 30px 5px;
    background-repeat: repeat-x;
}

    //mobile-425px
    @media(max-width: 425px) {
        .decoline {
            width: 40%;
            height: 6px;
            background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
            background-size: 20px 3px;
            background-repeat: repeat-x;
        }
    }
    //mobile
    @media(max-width: 375px) {
        .decoline {
            width: 40%;
            height: 5px;
            background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
            background-size: 18px 3px;
            background-repeat: repeat-x;
        }

    }

.introduce-imgs-flex {
    display: flex;
    justify-content: center;
    width: auto;
}
.introduce-imgs{
    width: 740px;
    height: 345px;
    background-image: url(../imgs/wbg_word_1.png);
    background-size: cover;

}

    //pad
    @media(max-width: 768px) {
        .introduce-imgs{
            width: 630px;
            height: 290px;
            background-image: url(../imgs/wbg_word_1.png);
            background-size: cover;
        }
    }
    @media(max-width: 576px) {
        .introduce-imgs{
            width: 473px;
            height: 217.7px;
            background-image: url(../imgs/wbg_word_1.png);
            background-size: cover;
        }
    }
    //mobile-425px
    @media(max-width: 425px) {
        .introduce-imgs{
            width: 306px;
            height: 141px;
            background-image: url(../imgs/wbg_word_1.png);
            background-size: cover;
        }
    }
    //mobile
    @media(max-width: 375px) {
        .introduce-imgs{
            width: 306px;
            height: 141px;
            background-image: url(../imgs/wbg_word_1.png);
            background-size: cover;
        }
    }
.introduce-btn-flex {
    display: flex;
    justify-content: center;
    width: auto;
    padding: 66px 0 61px 0;

    .viewmore {
        width: 128px;
        height: 51px;
        background-image: url(../imgs/資產\ 6.png);
        background-size: cover;
    }
}

    //pad
    @media(max-width: 768px) {
        .introduce-btn-flex {
            display: flex;
            justify-content: center;
            width: auto;
            padding: 60px 0 67px 0;
        
            .viewmore {
                width: 114px;
                height: 45px;
                background-image: url(../imgs/資產\ 6.png);
                background-size: cover;
            }
        }
    }
    //mobile-425px
    @media(max-width: 425px) {
        .introduce-btn-flex {
            display: flex;
            justify-content: center;
            width: auto;
            padding: 66px 0 61px 0;
        
            .viewmore {
                width: 55px;
                height: 22px;
                background-image: url(../imgs/資產\ 6.png);
                background-size: cover;
            }
        }
    }
    //mobile
    @media(max-width: 375px) {
        .introduce-btn-flex {
            display: flex;
            justify-content: center;
            width: auto;
            padding: 37px 0 40px 0;
        
            .viewmore {
                width: 55px;
                height: 22px;
                background-image: url(../imgs/資產\ 6.png);
                background-size: cover;
            }
        }
    }
    .box_2 {
        display: flex;
        justify-content: center;
        width: auto;
    }
    
        //pad
        @media(max-width: 768px) {
            .box_2 {
                    display: flex;
                    justify-content: center;
                    width: auto;
                }
            }   
        //mobile-425px
        @media(max-width: 425px) {
            .box_2 {
                display: flex;
                justify-content: center;
                width: auto;
            }
        }
        //mobile
        @media(max-width: 375px) {
            .box_2 {
                display: flex;
                justify-content: center;
                width: auto;
            }
        }

.yt-flex{
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.yt {
    position: absolute;
    top: 10%;
    left: 8%;
    width: 84%;
    height: 84%;

    @media(max-width: 1024px) {
        position: absolute;
        top: 10%;
        left: 10%;
        width: 80%;
        height: 80%;
        
        }
}

.title-flex{
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 30px;

    img {
        width: 283px;
        height: 55px;
    }
}

    //pad
    @media(max-width: 768px) {
        .title-flex{
            display: flex;
            justify-content: center;
            width: auto;
            margin-top: 20px;
            
            img {
                width: 283px;
                height: 55px;
            }
        }
        }   
    //mobile-425px
    @media(max-width: 425px) {
        .title-flex{
            display: flex;
            justify-content: center;
            width: auto;
            margin-top: 10px;

            img {
                width: 115px;
                height: 23px;
            }
        }
    }
    //mobile
    @media(max-width: 375px) {
        .title-flex{
            display: flex;
            justify-content: center;
            width: auto;
            margin-top: 10px;

            img {
                width: 115px;
                height: 23px;
            }
        }
    }
.box_3 {
        display: flex;
        justify-content: center;
        width: auto;
        height: 33px;
    }
    
        //pad
        @media(max-width: 768px) {
            .box_3 {
                    display: flex;
                    justify-content: center;
                    width: auto;
                    height: 33px;
                }
            }   
        //mobile-425px
        @media(max-width: 425px) {
            .box_3 {
                display: flex;
                justify-content: center;
                width: auto;
                height: 27px;
            }
        }
        //mobile
        @media(max-width: 375px) {
            .box_3 {
                display: flex;
                justify-content: center;
                width: auto;
                height: 27px;
            }
        }
.decoline_3 {
    width: 25%;
    height: 10px;
    background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
    background-size: 30px 5px;
    background-repeat: repeat-x;
}

    //pad
    @media(max-width: 768px) {
        .decoline_3 {
            width: 30%;
            height: 6px;
            background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
            background-size: 20px 3px;
            background-repeat: repeat-x;
        }
        }
    //mobile-425px
    @media(max-width: 425px) {
        .decoline_3 {
            width: 25%;
            height: 6px;
            background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
            background-size: 20px 3px;
            background-repeat: repeat-x;
        }
    }
    //mobile
    @media(max-width: 375px) {
        .decoline_3 {
            width: 25%;
            height: 5px;
            background-image: linear-gradient(to right, #626262 0%, #626262 50%, transparent 50%);
            background-size: 18px 3px;
            background-repeat: repeat-x;
        }

    }
.new_product {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    
    .new_product_size-1 {
        width: 42%;
        display: flex;
        justify-content: end;
        margin: 0 1% 1% 0;

        @media(min-width: 1025px) {
            width: 34%;
            display: flex;
            justify-content: end;
        }
            img {
                width: 100%;
                height: 100%;
                max-width: 428px;
                max-width: 392px;
            }
        
        @media(min-width: 1920px) {
            width: 34%;
            display: flex;
            justify-content: end;
        }
            img {
                width: 100%;
                height: 100%;
                max-width: 428px;
                max-width: 392px;
            }
    }

    .new_product_size-2 {
        width: 42%;
        display: flex;
        justify-content: start;
        margin: 0 1% 1% 0;

        @media(min-width: 1025px) {
            width: 34%;
            display: flex;
            justify-content: start;
        }
            img {
                width: 100%;
                height: 100%;
                max-width: 428px;
                max-width: 392px;
                }
        
        @media(min-width: 1920px) {
            width: 34%;
            display: flex;
            justify-content: start;
        }
            img {
                width: 100%;
                height: 100%;
                max-width: 428px;
                max-width: 392px;
            }
    }
    
}
.block {
    width: auto;
    height: 60px;

    @media(max-width: 576px) {
            
        width: auto;
        height: 30px;
    }
}
.footerIn{
    background-color: rgba(15, 15, 15, 0.3);
    display: flex;
    justify-content: center;

    @media(max-width: 576px) {
            
        background-color: rgba(15, 15, 15, 0.3);
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
}
.footerIn-left {
    padding-bottom: 60px;
    margin: 0 30px 0 0;

    @media(max-width: 576px) {
        margin: 0;
        padding-bottom: 0;
    }

    .logo {
        display: flex;
        justify-content: center;
        padding: 90px 0 30px 0;

        a {
            padding: 0;
        }
    }
    .footerIn-left-text {
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
    .footerIn-left-icon {
        a {
            padding: 0 0 0 20px;
            
            img {
                width: 20px;
                height: 20px;
            }
        }

        @media(max-width: 576px) {
            display: flex;
            justify-content: center;

            a {
                padding: 0 7.5px 0 7.5px;
                
                img {
                    width: 20px;
                    height: 20px;
                }
            }
        }

    }
}
.footerIn-right-flex {
    display: flex;
    justify-content: center;

    @media(max-width: 576px) {
            
        display: flex;
        justify-content: center;
        padding: 0 15px;
        margin-bottom: 30px;
    } 

}
.footerIn-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15px;

    @media(max-width: 576px) {
            
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        
    }
    
    ul {
        margin: 0;

        @media(max-width: 576px) {
            
            margin: 0;
            padding: 0 20px;
        }
        
        @media(max-width: 425px) {
            
            margin: 0;
            padding: 0;
        }

        li {
            display: flex;
            align-items: center;
            list-style:none;
            padding: 10px 0;
            font-size: 16px;

            @media(max-width: 768px) {
            
                display: flex;
                align-items: center;
                list-style:none;
                padding: 6px 0;
                font-size: 12px;
            }
            
            @media(max-width: 576px) {
            
                display: flex;
                align-items: center;
                list-style:none;
                padding: 6px 0;
                font-size: 10px;
            }

            @media(max-width: 425px) {
            
                display: flex;
                align-items: center;
                list-style:none;
                padding: 6px 0;
                font-size: 10px;
            }

            @media(max-width: 375px) {
            
                display: flex;
                align-items: center;
                list-style:none;
                padding: 6px 0;
                font-size: 10px;
            }
        }
    }

}
.copyrite {
    display: flex;
    justify-content: center;
    margin: 20px 0;

    p {
        font-family: 'Noto Sans TC';
        font-size: 12px;
        margin: 0;

        @media(max-width: 576px) {
            
            font-family: 'Noto Sans TC';
            font-size: 6px;
            margin: 0;
        }

    }
}
.contact-flex {
    width: 100%;
    padding: 0 20%;
}

.contact-title {
    text-align: center;
    font-family: ‘微軟正黑體’, sans-serif;
    font-size: 20px;
    color: #626262;
    font-weight: 700;
    letter-spacing: 0.2em;
    padding: 30px 0;
}
.contact-image-1 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    img {
        width: 100%;
        height: 100%;
    }
}
.contact-text {
    text-align: center;
    font-family: ‘微軟正黑體’, sans-serif;
    font-size: 16px;
    color: #626262;
    font-weight: 700;
    p {
        margin: 30px 0;
    }
}
.contact-logo {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: auto;
    padding: 30px 0;
    img {
        width: 100%;
        height: 100%;
    }
}